@import "../../styles/vars.scss";
.container {
  border: 1px solid $base-border;
  border-radius: 10px;
  margin-bottom: 30px;
}
.connoisseur,
.karma {
  display: flex;
  align-items: center;
}
.karma {
  gap: 3px;
}
.connoisseur {
  justify-content: space-between;
  max-width: 80%;
  margin: 15px auto;
}
.connois__name {
  color: $base-blue;
  font-weight: $base-h3;
}

.photo__text {
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .info_connois {
    display: flex;
    align-items: center;
  }
  p {
    margin: 5px 0;
  }
  .p__name {
    margin-left: 6px;
    font-size: $base-h2;
    font-weight: bold;
  }
}

.karma__name {
  color: $base-darkgrey;
}
