@import "../../styles/vars.scss";

.btn {
  color: $base-white;
  background-color: $base-blue;
  font-family: $base-text;
  border: 0;

  height: 48px;
  width: 60%;
}
.btn__answer {
  border: 1px solid $base-border;
  background-color: $base-white;
}
.btn__best {
  background-color: $base-white;
  border: 0;
}

.btn,
.btn__answer,
.btn__best {
  border-radius: 10px;
  height: 40px;
  margin-bottom: 15px;
}

.btn:hover,
.btn__answer:hover,
.btn__best:hover {
  cursor: pointer;
  box-shadow: 0 1px 0 black;
}
