@import "../../styles/vars.scss";

.container {
  margin-bottom: 30px;
}
.new,
.my__quest,
.my__answers,
.notifications {
  display: flex;
  align-items: center;
  height: 52px;
}

.new {
  background-color: #efefff;
}
img {
  margin: 0 7px;
}
.p__new {
  color: $base-blue;

  border-radius: 10px;
}
