@import "../../styles/vars.scss";

.wraper_footer,
.footer__container,
.arrows,
.dialods {
  display: flex;
  align-items: center;
}
.wraper_footer {
  margin-bottom: 30px;
  justify-content: space-between;
  height: 40px;
}
.footer__container {
  font-family: $font;
  color: $base-darkgrey;
  height: fit-content;
}
.num {
  color: $base-darkgrey;
  padding: 0 3px;
}
.arrows {
  background-color: $base-bacground-arrows;
  border-radius: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .arrows {
    padding: 2px 5px;
    margin-right: 0;
  }
  .num {
    padding-right: 0;
  }
  .dialods {
    margin-right: 5px;
  }
}

@media screen and (max-width: 359px) {
  .wraper_footer {
    flex-direction: column;
  }
  .footer__container {
    display: none;
  }
}
