@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

$base-text: "Anonymous Pro", monospace;

//sizes
$big-text: 28px;
$base-h1: 18px;
$base-h2: 16px;
$base-h3: 14px;

// colors
$base-color-white: #ffffff;
$base-color-border: #e8e8f1;
$base-color-darkgrey: #a7a7bc;
$base-color-blue: #357efe;
$base-color-background: #f6f6fa;
$base-color-comment: #cfcfde;
