$font: "Gilroy-Regular";

$base-text: "Anonymous Pro", monospace;
$base-text1: "Gilroy", monospace;

//sizes
$big-text: 28px;
$base-h1: 18px;
$base-h2: 16px;
$base-h3: 14px;

// colors
$base-dark-text: #232727;
$base-white: #ffffff;
$base-border: #e8e8f1;
$base-darkgrey: #a7a7bc;
$base-blue: #357efe;
$base-background: #f6f6fa;
$base-comment: #cfcfde;
$base-inside: #f5f5fb;
$base-num-sectionusers: #828ea4;
$base-view: #d6d6e7;
$base-bacground-arrows: #fbfbfb;
