@import "../../styles/vars.scss";

.wraper_start {
  background-color: $base-background;
  border-radius: 15px;
}
.text__container {
  max-width: 85%;
  font-family: $font;
  text-align: start;
  margin: 0 auto;
}
.title {
  font-size: $big-text;
}
