@import "../../styles/var.scss";

.container {
  background-color: $base-color-background;
  max-width: 30%;
  border-radius: 15px;
}
.text__container {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
}

.btn {
  color: $base-color-white;
  background-color: $base-color-blue;
  font-family: $base-text;
  border: 0;
  border-radius: 10px;
  height: 48px;
  width: 60%;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 0 black;
}
