@import "../../styles/vars.scss";

.headuser_leftpart,
.icon__part,
.view__part {
  display: flex;
  align-items: center;
}
.headuser_parts {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.name__part {
  display: flex;
  font-size: $base-h3;
  font-weight: bolder;
}
.name__text_part {
  height: fit-content;
  height: 17px;
}
.icon__text {
  color: $base-blue;
}
.text__part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.time__part {
  margin-top: 2px;
  display: flex;
  align-items: center;
  color: $base-comment;
  font-family: $font;
}
.view {
  color: $base-view;
}

@media screen and (max-width: 359px) {
  .headuser_parts {
    flex-direction: column;
  }
  .headuser_leftpart {
    flex-direction: column;
  }
  .rightpart {
    display: flex;
    justify-content: center;
  }
}
