@import "../../styles/vars.scss";
.wrapper_crumbs {
  max-width: 416px;
  display: flex;
  justify-content: space-between;
  font-family: $font;
  font-size: 14px;
  line-height: 17px;
  color: #232727;
  :last-child {
    color: #a7a7bc;
  }
}
